@page
@model JWTAuth.WebAPI.Views.User.EditModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>UserModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserModel.Id" />
            <div class="form-group">
                <label asp-for="UserModel.UserId" class="control-label"></label>
                <input asp-for="UserModel.UserId" class="form-control" />
                <span asp-validation-for="UserModel.UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserModel.DisplayName" class="control-label"></label>
                <input asp-for="UserModel.DisplayName" class="form-control" />
                <span asp-validation-for="UserModel.DisplayName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserModel.UserName" class="control-label"></label>
                <input asp-for="UserModel.UserName" class="form-control" />
                <span asp-validation-for="UserModel.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserModel.Email" class="control-label"></label>
                <input asp-for="UserModel.Email" class="form-control" />
                <span asp-validation-for="UserModel.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserModel.Role" class="control-label"></label>
                <input asp-for="UserModel.Role" class="form-control" />
                <span asp-validation-for="UserModel.Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserModel.Password" class="control-label"></label>
                <input asp-for="UserModel.Password" class="form-control" />
                <span asp-validation-for="UserModel.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserModel.CreatedDate" class="control-label"></label>
                <input asp-for="UserModel.CreatedDate" class="form-control" />
                <span asp-validation-for="UserModel.CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

</body>
</html>
